<!DOCTYPE html>
<html lang="pt"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8"/>
</head>
<body>




	<!-- Formulário de Cadastro -->
	<section class="layout-content" layout:fragment="corpo">
		<div class="container mt-5 pt-3">
			<form th:action="@{/alunos/salvar}" th:object="${aluno}" method="POST">
				<!-- Dados Pessoais -->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}"
							   placeholder="Nome Completo" required>
					</div>
					<div class="form-group col-md-6">
						<label for="cpf">CPF</label>
						<input type="text" class="form-control" id="cpf" th:field="*{cpf}"
							   data-mask="000.000.000-00" placeholder="123.456.789-10" required>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="tel">Telefone</label>
						<input type="text" class="form-control" id="tel" th:field="*{tel}" data-mask="(00) 00000-0000" placeholder="(11) 98765-4321">
					</div>
					<div class="form-group col-md-6">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" th:field="*{email}" placeholder="email@exemplo.com" required>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="senha">Senha</label>
						<input type="password" class="form-control" id="senha" th:field="*{senha}" placeholder="Senha" required>
					</div>
					<div class="form-group col-md-6">
						<label for="dataNasc">Data de Nascimento</label>
						<input type="date" class="form-control" id="dataNasc" th:field="*{dataNasc}" required>
					</div>
				</div>

				<!-- Modalidades -->
				<div class="form-group">
					<label for="modalidade">Modalidade</label>
					<select id="modalidade" class="form-control" name="modalidade" required>
						<option value="">Selecione uma modalidade...</option>
						<option value="futebol">Futebol</option>
						<option value="natacao">Natação</option>
						<option value="volei">Vôlei</option>
						<option value="basquete">Basquete</option>
						<option value="tenis">Tênis</option>
						<option value="atletismo">Atletismo</option>
					</select>
				</div>

				<!-- Botão Selecionar Responsável -->
				<div class="form-group">
					<button type="button" class="btn btn-info">Selecionar Responsável pelo Aluno</button>
				</div>

				<!-- Botões -->
				<button type="submit" class="btn btn-primary">Salvar</button>
				<a href="/alunos/listar" class="btn btn-secondary">Cancelar</a>
			</form>
		</div>
	</section>
</body>
</html>
