<!DOCTYPE html>
<html lang="pt"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout}">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <meta charset="UTF-8"/>
</head>
<body>

	
	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">

	                <a class="btn btn-primary btn-md" href="/alunos/cadastrar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Cadastrar Novo Aluno</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container">
	
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseNome">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/nome">
	                                <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
	                                       name="nome" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseCargo">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/cargo">
	                                <select class="form-control mr-sm-2" name="cargo" aria-label="Search">
	                                    <option value="">Cargo</option>
	                                    <option value="1">Auxiliar Contábil</option>
	                                    <option value="2">Auxiliar Administrativo</option>
	                                    <option value="3">Contador</option>
	                                    <option value="4">Adminitrador</option>
	                                    <option value="5">Programado PHP</option>
	                                    <option value="6">Desenvolvedor Java Jr.</option>
	                                    <option value="7">Desenvolvedor Java Pleno</option>
	                                    <option value="8">Desenvolvedor Java Senior</option>
	                                    <option value="9">Auxiliar de RH</option>
	                                    <option value="10">Coordenador de RH</option>
	                                    <option value="11">Psicologo</option>
	                                </select>
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col">
	                    <div class="collapse" id="collapseData">
	
	                        <nav class="navbar navbar-light bg-light">
	                            <form class="form-inline" method="GET" action="/funcionarios/buscar/data">
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       name="entrada" />
	                                <input class="form-control mr-sm-2" type="date" aria-label="Search"
	                                       name="saida" />
	                                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
	                            </form>
	                        </nav>
	
	                    </div>
	                </div>
	            </div>
	
	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Nome</th>
	                        <th>Responsável</th>
	                        <th>Telefone</th>
	                        <th>E-Mail</th>
	                        <th>Ativo</th>
	                        <th>Data de Nasc</th>
	                        <th>Modalidade</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr th:each="aluno : ${alunos}">
	                        <td th:text="${aluno.id}">1</td>
							<td>
								<i th:if="${aluno.estaAtivo}" class="fas fa-circle text-success"></i> <!-- Bolinha verde se ativo -->
								<i th:unless="${aluno.estaAtivo}" class="fas fa-circle text-danger"></i> <!-- Bolinha vermelha se inativo -->
							</td>
	                        <td th:text="${aluno.nome}">Jorge da Silva</td>
	                        <td th:text="${aluno.nome}">Responsável</td>
	                        <td th:text="${aluno.tel}">Telefone</td>
	                        <td th:text="${aluno.email}">Auxiliar de RH</td>
	                        <td >11/11/1999</td>
	                        <td >Futebol</td>
	                        <td>01/10/2014</td>
	                        <td></td>
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" th:href="@{/alunos/editar/{id} (id=${aluno.id})}" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button id="btn_funcionarios/excluir/1" type="button" class="btn btn-danger btn-sm"
	                                    data-toggle="modal" data-target="#myModal">
	                                <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>

	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </section>

</body>
</html>		