/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 25 de out. de 2024, 23:38:55
    Author     : Marcos
*/

body {
    font-family: Arial, sans-serif;
    margin-top: 45px;
}

.depoimentos, .parceiros {
    margin-bottom: 40px;
    margin: 20px;
}

.depoimento {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.logo {
    max-width: 150px;
    margin: 10px;
}

.logos-container {
    display: flex;
    flex-wrap: wrap;
}