<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/visitas.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Localização e Agendamento de Visitas</title>
    </head>
    
    <body>

        <!-- Navbar -->
        <div class="w3-top">
            <div class="w3-bar custom-navbar w3-card w3-left-align w3-large">  
                <div style="align-items: center; margin-right: 15px; margin-left: 5px;">
                    <img src="assets/logo.png" alt="Home" class = "w3-left" style="width:48px; height:48px; margin-right:8px;"> 
                    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                    <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
                    <a href="listaEsportes.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Aulas Oferecidas</a>
                    <a href="visita.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Venha nos Visitar</a>
                    <a href="sobreNos.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sobre Nós</a>
                    <a href="comentario.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Avaliações e Parceiros</a>
                    <a href="sobreEsportes.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sobre Esportes</a>
                    <a href="login.html" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">Login<img src="assets/LoginIcon.png" alt="Login" style="width:27px; height:27px; vertical-align:middle; margin-left:8px;"/></a>
                </div>
            </div>

            <!-- Navbar para telas pequenas -->
            <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
                <a href="index2.html" class="w3-bar-item w3-button w3-padding-large">Home</a>
                <a href="listaEsportes.html" class="w3-bar-item w3-button w3-padding-large">Aulas Oferecidas</a>
                <a href="visita.html" class="w3-bar-item w3-button w3-padding-large">Venha nos Visitar</a>
                <a href="sobreNos.html" class="w3-bar-item w3-button w3-padding-large">Sobre Nós</a>
                <a href="comentario.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Avaliações e Parceiros</a>
                <a href="sobreEsportes.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sobre Esportes</a>
                <a href="login.html" class="w3-bar-item w3-button w3-padding-large">Login</a>
            </div>
        </div>

        <h2>Contato: Agendamento de Visitas</h2>
        <div class="container">
            <form id="form" action="/enviar-contato" method="POST" onsubmit="return validarFormulario()">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nome" name="nome" required>
                <span id="nome-error" class="error"></span>

                <label for="telefone">Telefone:</label>
                <input type="tel" id="telefone" name="telefone" placeholder="(xx) xxxx-xxxx" required>
                <span id="telefone-error" class="error"></span>

                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" placeholder="xxx.xxx.xxx-xx" required>
                <span id="cpf-error" class="error"></span>

                <label for="mensagem">Mensagem:</label>
                <textarea id="mensagem" name="mensagem" rows="4" placeholder="Escreva sua mensagem..."></textarea>

                <button type="submit">Enviar</button>
            </form>

            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.983312344811!2d-49.364888790099194!3d-25.53893277739866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfd45274d986d%3A0x835bd2061563fb71!2sUNIFACEAR%20-%20Campus%20Arauc%C3%A1ria!5e0!3m2!1spt-BR!2sbr!4v1726889040051!5m2!1spt-BR!2sbr" 
                        width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-64 w3-center w3-opacity">
            <div style="display: flex; align-items: center; margin-bottom: 16px;">
                <img src="assets/telefone.png" alt="telefone" style="width:25px; height:25px; margin-right: 8px;"/>
                <span><b>Telefone: </b>+55 (41) 99123-4567</span>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 16px;">
                <img src="assets/email.png" alt="email" style="width:25px; height:25px; margin-right: 8px;"/>
                <span><b>Email: </b>badsport@outlook.com</span>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 16px;">
                <img src="assets/endereço.png" alt="endereço" style="width:25px; height:25px; margin-right: 8px;"/>
                <span><b>Endereço: </b>Av. das Araucária, 3803</span>
            </div>


            <div class="w3-xlarge w3-padding-32">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>            
            </div>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>
        <script src="js/visitas.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
