<!DOCTYPE html>
<html lang="pt"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8"/>
	<title>Cadastro de Responsável</title>
</head>
<body>
<!-- Formulário de Cadastro -->
<section class="layout-content" layout:fragment="corpo">
	<div class="container mt-5 pt-3">
		<h2>Cadastro de Responsável</h2>
		<form th:action="${responsavel.id != null} ? @{/responsaveis/editar/{id}(id=${responsavel.id})} : @{/responsaveis/salvar}"
			  th:object="${responsavel}" method="POST">


		<!-- Dados Pessoais -->
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}"
						   placeholder="Nome Completo" required>
				</div>
				<div class="form-group col-md-6">
					<label for="cpf">CPF</label>
					<input type="text" class="form-control" id="cpf" th:field="*{cpf}"
						   data-mask="000.000.000-00" placeholder="123.456.789-10" required>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="tel">Telefone</label>
					<input type="text" class="form-control" id="tel" th:field="*{tel}"
						   data-mask="(00) 00000-0000" placeholder="(11) 98765-4321">
				</div>
				<div class="form-group col-md-6">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" th:field="*{email}"
						   placeholder="email@exemplo.com" required>
				</div>
			</div>

			<!-- Combobox para Selecionar um Único Aluno -->
			<div class="form-group">
				<label for="aluno">Aluno</label>
				<select id="aluno" class="form-control" name="alunoId" required>
					<option value="">Selecione um aluno...</option>
					<option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
				</select>

			</div>



			<!-- Campo Oculto para ID -->
			<input type="hidden" id="id" th:field="*{id}"/>

			<!-- Botões -->
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a href="/responsaveis/listar" class="btn btn-secondary">Cancelar</a>
		</form>
	</div>
</section>
</body>
</html>
