<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Gerentes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Gerenciamento de Pessoas</h1>
        <button onclick="window.location.href='/registrar'">Registrar Nova Pessoa</button>

    </header>
    
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Cargo</th>
                    <th>Ativo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="gerentes-list">
            </tbody>
        </table>
    </main>
    
    <script src="/js/scripts.js"></script>
</body>
</html>
